﻿@{
    ViewBag.Title = "Home";
}

@using (Html.BeginForm("import", "home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="row">
    <div class="col-md-12" style="margin-top:50px">
        <div class="form-group">
            <label>Import Type</label>
            <select name="importType">
                <option value="0">Nominal</option>
                <option value="1">PreMTD</option>
                <option value="2">PostMTD</option>
            </select>
        </div>
        <div class="form-group">
            <label>File</label>
            <input type="file" name="uploadFile" id="uploadFile" />
            <button type="submit" class="btn btn-primary">Import</button>
        </div>
    </div>
    
</div>
    
}


